
#start{
    height: 700px; /**Цифра 699(701) получена из рассчета**/
    background-image: url(../export/start_bg.jpg);
    background-size: cover;
    background-position: center;
}

#mainNav{
    height: 175px;
   
}

#heading{
    margin-top: 165px;
}

#textW{
/* Style for "We Are Cod" */
color: #ffffff;
font-family: "Source Sans Pro";
font-size: 33px;
font-weight: 300;
line-height: 66.42px;
text-transform: uppercase;
/* Text style for "We Are Cod" */
letter-spacing: 7px;
}

#W{
    margin-top: 37px;
}
#S{
    margin-top: 207px;
    }

#textE{
    /* Style for "At vero eo" */
color: #ffffff;
font-family: "Open Sans";
font-size: 15px; 
font-weight: 400;
line-height: 26.57px;
/* Text style for "A, t vero" */
letter-spacing: 0.8px;
}
















































/**Секция с книжкой**/
#thisisboucy{
    height: 463px;
/** background-image: url(../export/section1_bg.jpg);**/
    background-color: rgb(119, 119, 119);
}

/**Details**/
#detailsaboutbouncy{
    height: 585px;
    background-color: #f3f3f3;
}

/**Featured projects**/
#featuredprojects{
    height: 634px;
    background-color: #942424;
}

/**Our sevvices**/
#ourservices{
    height: 605px; /**Возможная ширина 606, исправлено для схождения с общей длиной сайта (5503)**/
    background-color: cornflowerblue;
}

/**Contact us**/
#contactus{
    height: 192px;
    background-color: black;
}

/**Prise and contacts**/
#priseandcontacts{
    height: 1100px;
    background-color: chocolate;
}

/**Forma**/
#forma{
    height: 524px;
    background-color: darkslategrey;
}

/**Map**/
#map{
    height: 472px;
    background-color: khaki;
}

/**Footer**/
#footer{
    height: 229px;
    background-color: midnightblue;
}


